@import 'css/variables';

@import url('https://fonts.googleapis.com/css?family=Libre+Franklin|Montserrat:100,200,300,400,500,600,700&display=swap');

:local(main.main){
  background: url(https://cdn.discordapp.com/attachments/1121319791324561561/1122700506939269160/cotoBGdim2.png);
  background-position: center -370px;
  background-color: $color-main-2;
  background-size: auto;
  background-repeat: no-repeat;
  background-attachment: initial;

  header .sign-in-links{
    background: none !important;
  }
  header{
    background: $color-main-1 !important;
    border-bottom: 2px, rgba(243, 243, 244, 255);
  }
  
  .standard-article-formatting{
    max-width: 1300px;
    padding-bottom: 200px;
    padding-top: 130px;
    h2.section-heading{
      margin-bottom: 75px;
      margin-top: 170px;
      font-size: 48px;
      text-align: center;
    }
    div.section-explanation{
      font-size: 20px;
      text-align: center;
      max-width: 700px;
      margin: 0 auto;
      margin-top: -36px;
    }
    a{
      text-decoration: none;
    }
    section.article-section{
      padding-top: 60px;
    }
  }

  section.article-headings{
    text-align: center;
    margin-bottom: 170px;
    //background: linear-gradient(
      //rgba(0, 0, 0, 0.4), 
      //rgba(0, 0, 0, 0.4)
      //),
      //url("https://images.unsplash.com/photo-1545427782-c1ba83cbb692?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
    h1{
      font-size: 60px;
      line-height: 86px;
      font-weight: 500;
      color: white;
    }
    h2.subtitle{
      margin: 0;
      margin-bottom: 100px;
      margin-top: 35px;
      color: white;
    }
    h2.more{
      line-height: 34px;
      margin-top: 50px;
      color: white;
    }
    .button{
      display: inline-flex;
      margin: 0 auto;
      font-size: 15px;
      margin-top: 120px;
    }
  }

  section.two-types-of-flashcards{
    ol{
      display: flex;

      li{
        width: 50%;
        border-radius: 5px;
        background: white;

        section.problem{
          min-height: 150px;
          background: none;
          box-shadow: none;
          margin: 50px 7px;
          .first-column{ padding-right: 7px; }
          .second-column{ padding-left: 7px; }
        }

        display: flex;
        flex-direction: column;
        section.problem{
          flex-grow: 1;
        }
        div.instruction{
          flex-grow: 0;
        }

        div.instruction.-top{
          padding: 10px 20px;
          border-top-right-radius: 5px;
          border-top-left-radius: 5px;
          border-bottom: 1px solid rgb(234, 234, 234);
          color: $black;
          font-weight: 600;
          font-family: $body-font;
          font-size: 18px;
        }

        div.instruction.-bottom{
          padding: 10px 20px;
          border-bottom-right-radius: 5px;
          border-bottom-left-radius: 5px;
          color: white;
        }
      }
      // left card example
      li.separate{
        margin-right: 10px;
        box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
        div.instruction.-bottom{ background: $orange; }
      }
      // right card example
      li.inline{
        margin-left: 10px;
        box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
        div.instruction.-bottom{ background: $orange; }

        input.answer-input{
          cursor: pointer !important;
          &:hover{
            background: rgba(251, 176, 59, 0.16);
          }
        }
      }
    }

    button.reset-button{
      margin: 0 auto;
      margin-top: 40px;
      border-radius: 2px;
    }

  }

  section.creation{
    .button.-orange{
      font-size: 15px;
      margin: 0 auto;
      max-width: 300px;
      margin-top: 150px;
    }

    .how-to-create{
      display: none;
    }
    section.problem{
      margin-top: 100px;
      .ql-editor:focus{
        background: rgb(40, 45, 88);
      }
      .quill > .ql-container > .ql-editor{
        min-height: 63px;
      }

      .quill{
        height: 100%;
      }

      &.-withInlinedAnswers{
        > .first-column{
          .ql-toolbar{
            .ql-formats{ margin-right: 9px !important; }
            .ql-formats:first-child{ margin-right: 2px !important; }
            padding-right: 0;
            button.ql-answer{
              font-size: 10px;
              width: 50px !important;
              padding: 0;
              text-align: center;
              border-radius: 2px;
              line-height: 10px;
              border: 1px solid rgb(44, 225, 83);
              color: rgb(166, 241, 182);
              font-weight: 300;
              &.ql-active, &:hover{
                // box-shadow: 0px 0px 6px 1px rgba(74, 241, 42, 0.39);
                text-shadow: 0 0 1px rgba(243, 243, 243, 0.5);
              }
              &::after{
                content: "Mark As Answer";
              }
            }
          }
        }
      }
      .ql-toolbar{}
    }
    .new-problem{
      position: relative;
      max-width: 970px;
      margin: 0 auto;
      margin-top: 25px;
      padding: 0 8px;

      .ql-container{
        // minus the height of the toolbar
        height: calc(100% - 28px);
      }

      > section.choose-type{
        position: absolute;
        top: 0; right: -90px;
        // for react-joyride
        padding-bottom: 20px;
        > label{
          display: block;
          font-size: 10px;
          padding-bottom: 8px;
          text-align: center;
          color: rgb(226, 230, 246);
          letter-spacing: 0.2px;
        }
        > .buttons > button.button{
          font-size: 9px;
          padding: 7px 4px;
          opacity: 0.5;
          width: 84px;
          min-width: auto;
          background: $orange;
          color: white;
          font-weight: 300;
          border-radius: 3px;
          &.-active{
            opacity: 1;
            cursor: default;
          }
          &:not(.-active):hover{
            opacity: 0.7;
          }
          &:first-child{
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
          }
          &:last-child{
            border-top-left-radius: 0;
            border-top-right-radius: 0;
          }
        }
      }
    }
  }

  section.courses{
    .list-of-courses{
      display: flex;
      justify-content: space-between;
      max-width: 940px;
      margin: 0 auto;
      margin-top: 80px;
      .standard-course-card{
        transition-duration: 300ms;
        .total-amount-of-flashcards{
          transition-duration: 300ms;
          background: $orange;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 21px;
        }
        h2.title{
          margin-top: 20px;
        }
        .description{
          display: none;
        }
        &:hover{
          background: rgb(29, 34, 69);
          &:hover{
            .total-amount-of-flashcards{
              height: 35px;
              font-size: 16px;
            }
          }
        }
        &:focus-within{
          box-shadow: 0 0 1px 1px $orange;
        }
      }
    }
  }

  section.sign-in{
    text-align: center;
    img{
      width: 50px;
      margin-top: 100px;
    }
    div.sign-in-buttons{
      display: block;
      max-width: 304px;
      a{ font-size: 16px; }
      a.-github{
        margin-top: 30px;
      }
    }
  }

  .-glow {
    text-align: center;
    text-shadow: 0 0 10px rgba(136, 125, 220, 0.5), 0 0 20px rgba(136, 125, 220, 0.5), 0 0 30px rgba(136, 125, 220, 0.5), 0 0 40px rgba(136, 125, 220, 0.5), 0 0 50px rgba(136, 125, 220, 0.5), 0 0 60px rgba(136, 125, 220, 0.5), 0 0 70px rgba(136, 125, 220, 0.5);
  }


  @media(max-width: 800px) {
    .standard-article-formatting{
      padding-top: 50px;  
      section.article-headings{
        margin-bottom: 0;
        h1{
          font-size: 42px;
          line-height: 54px;
        }
      }
      h2.section-heading{
        font-size: 39px;
      }
    }

    section.two-types-of-flashcards{
      ol.two-types-of-flashcard{
        flex-wrap: wrap;
        li{
          width: 100%;
          margin: 0;
        }
        li.inline{
          margin-top: 40px;
        }
      }
    }
    section.courses{
      .list-of-courses{
        flex-wrap: wrap;
        justify-content: space-around;

        a.standard-course-card{
          margin-bottom: 50px;
        }
      }
    }
  }

  @media(max-width: 750px) {
    section.creation{ display: none; }

    section.article-section.features{
      .feature-box{
        width: 100%;
      }
    }
  }

  @media(max-width: 1200px) {
    section.creation{
      section.choose-type{ display: none; }
    }
  }
}

